<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 50%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<p style="background-color:#F0E68C;">===============Car By Year Range============================ </p>

<table>
    <tr>
        <th>Id:</th>
        <th>Brand:</th>
        <th>Model:</th>
        <th>Colour:</th>
        <th>Production Year:</th>
    </tr>

    <tr th:each="car: ${carsbyyear}">


        <td th:text="${car.getId()}"/></td>
        <td th:text="${car.getBrand()}"/></td>
        <td th:text="${car.getModel()}"/></td>
        <td th:text="${car.getColor()}"/></td>
        <td th:text="${car.getProductionYear()}"/>



    </tr>

    <button onclick="goBack()">Go Back</button>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    <br>
</table>
















</body>
</html>
