<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 50%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<p style="background-color:#F0E68C;">===============Add Car============================ </p>
<form th:action="@{/add}" th:object="${newCar}" method="post">

    </p>
    <p>Brand: <input type="text" th:field="*{brand}"></p>



    <p>Model: <input type="text" th:field="*{model}"></p>
    <p>Color: <input type="text" th:field="*{color}"></p>
    <p>Production year: <input type="text" th:field="*{productionYear}"></p>
    <p><input type="submit" value="add new car"></p>


</form>
<p style="background-color:#F0E68C;">===============Delete Car============================ </p>
<form th:action="@{/delete}" th:object="${newCar}" method="post">
    <p>Id: <input type="text" th:field="*{id}"></p>
    <p><input type="submit" value="Delete"></p>

</form>


<p style="background-color:#F0E68C;">===============Find Car by Year ============================ </p>

<tr th:each="car: ${listOfCarsByYear}">


    <td>

        <a th:href="@{/carsbyear/{productionYear} (productionYear=${car})}" th:text="${car}" class="button"></a>
    </td>

    </form>
    \


</tr>

<p style="background-color:#F0E68C;">===============Find Car by Brand ============================ </p>

<tr th:each="car: ${listOfCarsByBrand}">

    <a th:href="@{/carsbybrand/{brand} (brand=${car})}" th:text="${car}" class="button"></a>


    \


</tr>


<table>
    <tr>
        <th>Id:</th>
        <th>Brand:</th>
        <th>Model:</th>
        <th>Colour:</th>
        <th>Production Year:</th>
    </tr>
    <p style="background-color:#F0E68C;">===============List of cars============================ </p>
    <tr th:each="car: ${db}">
        <td th:text="${car.getId()}"/>
        </td>

        <td th:text="${car.getBrand()}"/>
        </td>
        <td th:text="${car.getModel()}"/>
        </td>
        <td th:text="${car.getColor()}"/>

        <td th:text="${car.getProductionYear()}" />

    </tr>

    <br>
</table>


</tr>


</tr>


<br>
</table>

</body>
</html>